.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.about img {
    max-width: 400px;
    border-radius: 4px;
    transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}
.about img:hover {
    transform: scale(1.1);
    filter: blur(2px); /* Adjust the blur amount as needed */
}
.about h3 {
    color: #00b4d8;
    font-size: 1.5625rem;
    font-weight: 700;
    margin: 20px 0;
    text-align: start;
}
.about p {
    margin-top: 10px;
    font-weight: 500;
    font-size: 1.0625rem;
    color: #555555;
}
.about-info {
    max-width: 480px;
    text-wrap: balance;
}
@media (max-width: 750px) {
    .about {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .about p {
        line-height: 2;
    }
    .about img {
        width: 100%;
    }
    .about h3 {
        text-align: center;
    }
}
