.language {
    text-align: center;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
    border-radius: 50px;
    color: whitesmoke;
    font-size: 0.8125rem;
    padding: 1px 10px;
}