nav {
    padding: 30px 50px;
    background-color: white;
    box-shadow: gba(0, 0, 0, 0.09) 0px 0px 10px 0px;
}
.aly {
    margin-right: auto;
    font-size: 1.5625rem;
    font-weight: 700;
}
.navs {
    display: flex;
    align-items: center;
}
.nav-elements {
    display: flex;
    gap: 20px;
}
nav a {
    color: #2d2e32;
    text-decoration: none;
    font-weight: 600;
}
nav a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.burger,
.close {
    display: none;
    font-size: 1.5625rem;
}
.active {
    color: #00b4d8;
}

@media (max-width: 750px) {
    .nav-elements {
        display: none;
    }
    .appear {
        background-color: whitesmoke;
        position: fixed;
        /* width: 100%; */
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 1.5625rem;
        z-index: 1000;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .burger {
        display: flex;
        align-items: center;
        margin-left: auto;
        /* position: fixed; */
        /* right: 50px; */
    }
    .close {
        display: flex;
        position: fixed;
        top: 20px;
        right: 50px;
    }
    .aly {
        display: none;
    }
}
