.project {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.project-list {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 25px;
    border-radius: 10px;
    background: linear-gradient(145deg, #f0f0f0, #f0f0f0);

}

.prog-lead {
    margin-bottom: 30px;
    text-align: center;
    color: #00b4d8;
    font-size: 1.5625rem;
}

.proj-img {
    max-width: 500px;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}

.proj-img:hover {
    transform: scale(1.1);
}

.proj-title {
    text-align: start;
    margin-bottom: 20px;
    font-weight: 600;
}

.proj-detail-div {
    width: 300px;
}

.text-detail {
    color: #767676;
    font-weight: 400;
    font-size: 0.9375rem;
}

.progs {
    margin: 15px 0;
    display: flex;
    justify-content: start;
    gap: 20px;
}

.links {
    display: flex;
    justify-content: start;
    gap: 10px;
}


.icon {
    font-size: 1.25rem;
    color: black;
}

.icon:hover {
    color: #00b4d8;
}

.black {
    color: black;
    font-weight: 500;
}

@media (max-width: 900px) {
    .project-list {
        flex-direction: column;
        gap: 20px;
    }

    .proj-img {
        width: 100%;
    }
}