*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: #f9f9f9;
    color: #2d2e32;
}
.main {
    margin: 0 auto;
    padding: 100px 180px;
}
@media (max-width: 750px) {
    .main {
        width: 100%;
        padding: 20px;
    }
}
